{% extends "radmin/base_radmin.html" %}
{% load i18n  bootstrap4 %}


{% block content %}
<div  class="container mt-3 col-4 justify-content-center">
	<form method="post" role="form">{% csrf_token %}
		{% bootstrap_form form layout='inline' %}
		{% buttons %}
		  <button type="submit" class="btn btn-primary">
			Login
		  </button>
		{% endbuttons %}
	  </form>

		{% comment %}
		<div class="form-group">
		{{ form.username.errors }}
		{{ form.username.label_tag }}
		{{ form.username }}
	</div>
	<div class="form-group">
	{{ form.password.errors }}
	{{ form.password.label_tag }}
	{{ form.password }}
	<input type="hidden" name="next" value="{{ next }}">
</div>
		{% url 'admin_password_reset' as password_reset_url %}
		{% if password_reset_url %}
			<div class="password-reset-link">
				<a href="{{ password_reset_url }}"</a>
			</div>
		{% endif %}
		<button type="submit" name="button" class="btn btn-primary">Подтвердить</button>
		{% endcomment %}
</div>
{% endblock %}
