{% load static bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
	{% bootstrap_css %}
	{% block add_css %}{% endblock add_css %}
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	{% block nav_bar %}{% endblock nav_bar %}
	{% block content %}
	{% endblock content %}

	{% block add_js %}
	{% bootstrap_javascript jquery="slim" %}
	{% endblock add_js %}
</body>
</html>
